In [1]:
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("orders (1).csv")

In [3]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0/1000,127.10,CANCELLED
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0/250,490.80,CANCELLED
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0/2000,124.45,CANCELLED
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000/1000,125.60,COMPLETE
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000/1000,125.65,COMPLETE

In [4]:
df = df[df["Status"]!="REJECTED"]
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0/1000,127.10,CANCELLED
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0/250,490.80,CANCELLED
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0/2000,124.45,CANCELLED
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000/1000,125.60,COMPLETE
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000/1000,125.65,COMPLETE

In [5]:
df = df[df["Product"]!="CNC"]
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0/1000,127.10,CANCELLED
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0/250,490.80,CANCELLED
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0/2000,124.45,CANCELLED
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000/1000,125.60,COMPLETE
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000/1000,125.65,COMPLETE

In [6]:
df["Qty."] =  df["Qty."].apply(lambda x: x.split("/")[0])

In [7]:
df["Qty."] = df["Qty."].astype(int)
df

                   Time  Type  Instrument Product  Qty.  Avg. price     Status
0   2021-12-16 15:08:04   BUY    ASHOKLEY     MIS  1000      125.70   COMPLETE
1   2021-12-16 14:13:04   BUY  TATAMOTORS     MIS   250      490.55   COMPLETE
2   2021-12-16 13:54:04   BUY    ASHOKLEY     MIS     0      127.10  CANCELLED
3   2021-12-16 13:21:12  SELL  TATAMOTORS     MIS   250      492.10   COMPLETE
4   2021-12-16 12:51:25   BUY  TATAMOTORS     MIS     0      490.80  CANCELLED
5   2021-12-16 12:39:19  SELL    ASHOKLEY     MIS  1000      125.96   COMPLETE
6   2021-12-16 12:29:09   BUY    ASHOKLEY     MIS  2000      125.70   COMPLETE
7   2021-12-16 11:22:32  SELL    ASHOKLEY     MIS  2000      125.95   COMPLETE
8   2021-12-16 10:47:03  SELL    ASHOKLEY     MIS     0      124.45  CANCELLED
9   2021-12-16 10:46:51  SELL    ASHOKLEY     MIS  2000      125.95   COMPLETE
10  2021-12-16 10:24:07   BUY    ASHOKLEY     MIS  1000      125.60   COMPLETE
11  2021-12-16 10:23:57   BUY    ASHOKLEY     MIS  1000      125.65   COMPLETE

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        12 non-null     object
 1   Type        12 non-null     object
 2   Instrument  12 non-null     object
 3   Product     12 non-null     object
 4   Qty.        12 non-null     int32
 5   Avg. price  12 non-null     float64
 6   Status      12 non-null     object
dtypes: float64(1), int32(1), object(5)
memory usage: 720.0+ bytes

In [9]:
df["Total"] = df["Qty."]*df["Avg. price"]

In [10]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0

In [11]:
df["GrandPnL"] = np.where((df["Type"]=="BUY"),-1*df["Total"],df["Total"])

In [12]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0

In [13]:
df["Charge"] = np.minimum(20,(df["Total"]*0.03/100))

In [14]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0

In [15]:
df["ETC"] = df["Total"]*0.003/100

In [16]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge,ETC
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0,3.771000
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0,3.679125
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0,0.000000
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0,3.690750
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0,0.000000
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0,3.778800
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0,7.542000
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0,0.000000
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0,3.768000
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0,3.769500

In [17]:
df["GST"] = df[["Charge","ETC"]].sum(axis="columns")*18/100
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge,ETC,GST
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0,3.771000,4.278780
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0,3.679125,4.262243
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0,3.690750,4.264335
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0,3.778800,4.280184
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0,7.542000,4.957560
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0,0.000000,0.000000
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0,3.768000,4.278240
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0,3.769500,4.278510

In [18]:
df["STT"] = np.where(df["Type"]=="BUY",0,df["Total"]*0.025/100)
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge,ETC,GST,STT
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0,3.771000,4.278780,0.00000
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0,3.679125,4.262243,0.00000
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0,3.690750,4.264335,30.75625
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0,3.778800,4.280184,31.49000
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0,7.542000,4.957560,0.00000
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0,0.000000,0.000000,0.00000
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0,3.768000,4.278240,0.00000
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0,3.769500,4.278510,0.00000

In [19]:
df["Stamp duty"] = np.where(df["Type"]=="BUY",df["Total"]*0.003/100,0)
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge,ETC,GST,STT,Stamp duty
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0,3.771000,4.278780,0.00000,3.771000
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0,3.679125,4.262243,0.00000,3.679125
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000,0.000000
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0,3.690750,4.264335,30.75625,0.000000
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000,0.000000
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0,3.778800,4.280184,31.49000,0.000000
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0,7.542000,4.957560,0.00000,7.542000
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500,0.000000
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500,0.000000
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0,3.768000,4.278240,0.00000,3.768000
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0,3.769500,4.278510,0.00000,3.769500

In [20]:
df["Total Charges"] = df[["Charge","ETC","GST","STT","Stamp duty"]].sum(axis="columns")
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Total,GrandPnL,Charge,ETC,GST,STT,Stamp duty,Total Charges
0,2021-12-16 15:08:04,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,-125700.0,20.0,3.771000,4.278780,0.00000,3.771000,31.820780
1,2021-12-16 14:13:04,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,-122637.5,20.0,3.679125,4.262243,0.00000,3.679125,31.620492
2,2021-12-16 13:54:04,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
3,2021-12-16 13:21:12,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,123025.0,20.0,3.690750,4.264335,30.75625,0.000000,58.711335
4,2021-12-16 12:51:25,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,-0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
5,2021-12-16 12:39:19,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,125960.0,20.0,3.778800,4.280184,31.49000,0.000000,59.548984
6,2021-12-16 12:29:09,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,-251400.0,20.0,7.542000,4.957560,0.00000,7.542000,40.041560
7,2021-12-16 11:22:32,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500,0.000000,95.492260
8,2021-12-16 10:47:03,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
9,2021-12-16 10:46:51,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,251900.0,20.0,7.557000,4.960260,62.97500,0.000000,95.492260
10,2021-12-16 10:24:07,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,-125600.0,20.0,3.768000,4.278240,0.00000,3.768000,31.814240
11,2021-12-16 10:23:57,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,-125650.0,20.0,3.769500,4.278510,0.00000,3.769500,31.817510

In [21]:
df.to_excel("kite calculation2.xlsx",index=False)

In [22]:
df_summary = pd.DataFrame(df.groupby(['Instrument'])['GrandPnL','Total Charges'].sum()).reset_index()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5704\4039309339.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_summary = pd.DataFrame(df.groupby(['Instrument'])['GrandPnL','Total Charges'].sum()).reset_index()

In [23]:
df_summary

   Instrument  GrandPnL  Total Charges
0    ASHOKLEY    1410.0     386.027594
1  TATAMOTORS     387.5      90.331828

In [24]:
df_summary['Net PnL']=df_summary['GrandPnL']-df_summary['Total Charges']

In [25]:
df_summary['% Charge']=(df_summary['Total Charges']/df_summary['GrandPnL'])*100
df_summary

   Instrument  GrandPnL  Total Charges      Net PnL   % Charge
0    ASHOKLEY    1410.0     386.027594  1023.972406  27.377844
1  TATAMOTORS     387.5      90.331828   297.168172  23.311439

In [26]:
df_total = pd.pivot_table(pd.DataFrame(df_summary.sum(axis=0)).reset_index(),columns=['index'],values=[0],aggfunc=lambda x: ' '.join(str(v) for v in x))
df_total['Instrument']='Total'

In [27]:
df_total

index         % Charge GrandPnL Instrument       Net PnL       Total Charges
0      50.689282900938   1797.5      Total  1321.1405785  476.35942150000005

In [28]:
df_final = pd.concat([df_summary,df_total],axis='rows')

In [29]:
df_final

   Instrument GrandPnL       Total Charges       Net PnL         % Charge
0    ASHOKLEY   1410.0          386.027594   1023.972406        27.377844
1  TATAMOTORS    387.5           90.331828    297.168172        23.311439
0       Total   1797.5  476.35942150000005  1321.1405785  50.689282900938

In [31]:
list_columns = ['GrandPnL','Total Charges','Net PnL','% Charge']
for i in list_columns:
    df_final[i]=df_final[i].astype(float)
    df_final[i]=df_final[i].round(2)
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 0
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Instrument     3 non-null      object
 1   GrandPnL       3 non-null      float64
 2   Total Charges  3 non-null      float64
 3   Net PnL        3 non-null      float64
 4   % Charge       3 non-null      float64
dtypes: float64(4), object(1)
memory usage: 144.0+ bytes
None

In [32]:
writer = pd.ExcelWriter('kite_pnl_calculated.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Data', index=False)
df_final.to_excel(writer, sheet_name='Summary', index=False)
writer.save()
df_final.iloc[-1,-1] = round((df_final.iloc[-1,2]/df_final.iloc[-1,1])*100,2)

In [33]:
df_final

   Instrument  GrandPnL  Total Charges  Net PnL  % Charge
0    ASHOKLEY    1410.0         386.03  1023.97     27.38
1  TATAMOTORS     387.5          90.33   297.17     23.31
0       Total    1797.5         476.36  1321.14     26.50